extends layout
block content
    .panel.panel-default
      .panel-heading
        a.pull-right(href='#') View all
        |         
        h4 #{title}
      |     
      .panel-body
        p
          img.img-circle.pull-right(src='//placehold.it/150x150')
          |  
          a(href='#') #{response}
        |         
        .clearfix
        |         
        hr
        p #{response}
