extends layout

block content

            <div class="panel panel-default">
                <div class="panel-heading"><a href="#" class="pull-right">View all</a>
                    <h4>#{title}</h4>
                </div>
                <div class="panel-body">
                    <p><img src="//placehold.it/150x150" class="img-circle pull-right"> <a href="#">#{response}</a></p>
                    <div class="clearfix"></div>
                    <hr>
                    #{response}
				</div>
            </div>
