doctype html
html
  head
    title= title
    script(type="text/javascript", src="js/jquery-2.0.3.min.js")

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://m03s6dh33i0jtc3uzfml36au.wpengine.netdna-cdn.com/css/bootstrap-3.0.2/css/bootstrap.min.css')
    link(rel="stylesheet", href="http://m03s6dh33i0jtc3uzfml36au.wpengine.netdna-cdn.com/css/bootstrap-3.0.2/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="http://m03s6dh33i0jtc3uzfml36au.wpengine.netdna-cdn.com/css/style.css")
    script(type="text/javascript", src="http://m03s6dh33i0jtc3uzfml36au.wpengine.netdna-cdn.com/css/bootstrap-3.0.2/js/bootstrap.min.js")
    script(type="text/javascript", src="http://m03s6dh33i0jtc3uzfml36au.wpengine.netdna-cdn.com/js/blog.js")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    block content
